<template>
    <select v-model="selected" @change="updateLang">
        <option :value="item" v-for="item in items">{{item}}</option>
    </select>
</template>

<script>
    export default {
        data: function() {
            return {
                selected: '',
            };
        },
        computed: {
            items: function() {
                return this.$store.getters.getAvailableLang;
            },
        },
        methods: {
            updateLang: function() {
                this.$store.commit('setLang', this.selected);
                this.$router.push({name: 'App', params: {lang: this.selected}});
            },
        },
        mounted: function() {
            this.selected = this.$route.params.lang;
        }
    };
</script>

<style scoped>

</style>