<template>
    <aside class="is-init navigation-filter m-sidePanel" style="">
        <div class="container">
            <div class="inner">
                <div class="m-filter">
                    <h3 class="h3 subtitle">
                        {{$t('navigationPopup.title')}}
                    </h3>
                    <div id="select-region">
                        <h4>{{$t('navigationPopup.selectRegion')}}</h4>
                        <v-select multiple v-model="selectedRegion" :options="regions"></v-select>
                    </div>
                    <div id="area-slider">
                        <h4 style="padding-bottom: 30px">{{$t('navigationPopup.selectArea')}}</h4>
                        <vue-slider
                                v-model="sliderData.value"
                                :min="sliderData.min"
                                :max="sliderData.max"
                                :formatter="sliderData.formatter"
                                @drag-end="getSliderData"
                        ></vue-slider>
                    </div>
                    <h4>{{$t('navigationPopup.selectUsage')}}</h4>
                    <ul class="filter-list">
                        <li class="list-item" v-for="category in categories">
                            <label class="checkbox">
                                <input type="checkbox" @click="updateCategory(category.id)" :checked="category.isChecked">
                                {{$t(category.title)}}
                            </label>
                        </li>
                    </ul>
                    <p class="projectCount">
                        {{$t('navigationPopup.found')}}: <a class="link ng-binding"> {{objects.length}} {{$t('navigationPopup.land')}}</a>
                    </p>

                    <input type="button" @click="reset()" class="button m-btn m-btn-grey" :value="clearFormButton">
                    <span class="btn-close icon" @click="close()">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/icons.svg#close"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </aside>
</template>

<script>
    import vueSlider from 'vue-slider-component'
    export default {
        data() {
            return {
                sliderData: {
                    value : [
                        0,
                        100
                    ],
                    min: 0,
                    max: 100,
                    formatter: "{value} га",
                },
                categories: [],
                regions: []
            }
        },
        methods: {
            close: function()
            {
                this.$emit('close');
            },
            getSliderData : function (data) {
                 this.$store.commit('setMinArea', data.value[0]);
                 this.$store.commit('setMaxArea', data.value[1]);
            },
            reset: function () {
                this.$store.commit('setSelectedRegions', []);
                this.resetSliderData();
            },
            resetSliderData: function () {
                this.sliderData.value = [0, 100];
                this.$store.commit('setMinArea', 0);
                this.$store.commit('setMaxArea', 100);
            },
            updateCategory: function(id) {
                this.$store.commit('setCategories',this.categories.map(function(item) {
                    if (item.id === id) {
                        item.isChecked = !item.isChecked;
                    }
                    return item;
                }));
            },
        },
        mounted: function() {
            this.categories = this.categoriesInit;
            this.regions = this.$store.getters.getRegions;
        },
        components: {
            vueSlider
        },
        computed: {
            objects: function() {
                return this.$store.getters.getObjects;
            },
            selectedRegion: {
                get: function () {
                    return this.$store.getters.getSelectedRegions;
                },
                set: function (data) {
                    this.$store.commit('setSelectedRegions', data);
                }
            },
            categoriesInit: {
                get: function () {
                    return this.$store.getters.getCategories;
                },
            },
            clearFormButton: function() {
                return this.$t('navigationPopup.clearForm');
            }
        },
        watch: {
            '$store.getters.getRegions': function() {
                this.regions = this.$store.getters.getRegions;
            }
        }
    };
</script>

<style scoped>
    #select-region {
        padding: 0 0 5px 0;
    }

    #area-slider {
        padding: 0 0 5px 0;
    }
</style>