<template>
    <div>
        <nav class="m-navigation" style="">
            <div class="m-navigation-bar">
                <div id="avatar">
                    <img class="avatar" :src="user.avatar">
                </div>
                <ul class="m-navigation--primary">
                    <li class="nav-item nav-search" @click="openPopup()">
                        <span class="nav-item-icon">
                            <i class="demo-icon icon-search"></i>
                        </span>
                        <span class="nav-item-title">{{$t('navigation.search')}}</span>
                        <span class="nav-item-background"></span>
                    </li>
                    <li class="nav-item nav-filter" @click="openPopup()">
                        <span class="nav-item-icon">
                            <i class="demo-icon icon-info information"></i>
                        </span>
                        <span class="nav-item-title">{{$t('navigation.author')}}</span>
                        <span class="nav-item-background"></span>
                    </li>
                </ul>
                <div id="lang-selector">
                    <lang-selector></lang-selector>
                </div>
            </div>
        </nav>
        <navigation-popup v-if="isNavigationPopupVisible" @close="closePopup()"></navigation-popup>
    </div>
</template>

<script>
    import NavigationPopup from './NavigationPopup';
    import LangSelector from './LangSelector';

    export default {
        data: function() {
            return {
                isNavigationPopupVisible: true,
            };
        },
        methods: {
            closePopup()
            {
                this.isNavigationPopupVisible = false;
            },
            openPopup()
            {
                this.isNavigationPopupVisible = true;
            }
        },
        components: {
            NavigationPopup,
            'lang-selector': LangSelector
        },
        /*
          Defines the computed properties on the component.
        */
        computed: {
            /*
              Retrieves the User Load Status from Vuex
            */
            userLoadStatus()
            {
                return this.$store.getters.getUserLoadStatus;
            },

            /*
              Retrieves the User from Vuex
            */
            user()
            {
                return this.$store.getters.getUser;
            },
        },
    };
</script>

<style>
    #avatar {
        padding-top: 10px;
        width: 50px;
        margin: 0 auto;
        border-radius: 20px;
    }

    .avatar {
        border-radius: 25px;
        width: 50px;
    }

    .demo-icon {
        color: #666;
        font-size: 35px;
    }

    #lang-selector {
        position: absolute;
        bottom: 15px;
        left: 15px;
        text-align: center;
    }
</style>