<template>
    <div id="app-layout">
        <app-navigation></app-navigation>
        <app-map></app-map>
    </div>
</template>

<script>
    import Navigation from '../components/global/Navigation.vue';
    import Map from '../components/objects/Map';
    export default {
        components: {
            'app-navigation':Navigation,
            'app-map': Map
        },
        created: function() {
            this.$store.dispatch( 'loadObjects' );
            this.$store.dispatch( 'loadRegions' );
            this.$store.dispatch( 'loadUser' );
            this.setLang();
        },
        computed: {
            objects: function()
            {
                return this.$store.getters.getObjects;
            },
            availableLang: function() {
                return this.$store.getters.getAvailableLang;
            }
        },
        methods: {
            setLang: function() {
                this.$store.commit('setLang', this.$route.params.lang);
                if (this.$route.params.lang == undefined ||this.availableLang.indexOf(this.$route.params.lang) === -1) {
                    this.$router.push({name:'layoutLang', params: {lang:'ua'}});
                }
                this.$store.commit('setLang', this.$route.params.lang);
            }
        },
        watch: {
            '$route.params.lang': function() {
                this.setLang(this.$route.params.lang);
            }
        }
    }
</script>

<style>
    #app-layout {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
</style>