<style>
    div#map {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
</style>

<template>
    <div id="map">
    </div>
</template>

<script>
    export default {
        props: {
            'latitude': {
                type: Number,
                default: function () {
                    return 48.826131;
                },
            },
            'longitude': {
                type: Number,
                default: function () {
                    return 34.963555;
                },
            },
            'zoom': {
                type: Number,
                default: function () {
                    return 6;
                },
            },
        },
        computed: {
            /*
              Gets the objects
            */
            objects() {
                return this.$store.getters.getObjects;
            },
        },
        methods: {
            buildMarkers() {
                /*
                    Initialize the markers to an empty array.
                  */
                this.markers = [];

                /*
                  Iterate over all of the objects
                */
                for (var i = 0; i < this.objects.length; i++) {
                    if (this.objects[i] !== undefined && this.objects[i].lng !== undefined && this.objects[i].lng !== null && this.objects[i].lat !== undefined) {
                        /*
                          Create the marker for each of the objects and set the
                          latitude and longitude to the latitude and longitude
                          of the cafe. Also set the map to be the local map.
                        */

                        var image = '/img/map-marker.png';

                        var marker = new google.maps.Marker({
                            position: {lat: parseFloat(this.objects[i].lng), lng: parseFloat(this.objects[i].lat)},
                            map: this.map,
                            icon: image
                        });


                        /*
                          Create the info window and add it to the local
                          array.
                        */
                        let infoWindow = new google.maps.InfoWindow({
                            content: this.objects[i].place + '<br>' + this.objects[i].category + '<br>' + this.objects[i].area + ' га'
                        });
                        /*
                          Add the event listener to open the info window for the marker.
                        */
                        marker.addListener('click', function () {
                            infoWindow.open(this.map, this);
                        });

                        this.infoWindows.push(infoWindow);
                        /*
                          Push the new marker on to the array.
                        */
                        this.markers.push(marker);
                    }
                }
            },
            /*
            Clears the markers from the map.
            */
            clearMarkers() {
                /*
                  Iterate over all of the markers and set the map
                  to null so they disappear.
                */
                for (var i = 0; i < this.markers.length; i++) {
                    this.markers[i].setMap(null);
                }
            },
            init: function () {

                this.clearMarkers();
                this.buildMarkers();
            }
        },
        data() {
            return {
                markers: [],
                infoWindows: []
            };
        },

        mounted: function () {
            /*
            We don't want the map to be reactive, so we initialize it locally,
            but don't store it in our data array.
            */

            this.map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: this.latitude, lng: this.longitude},
                zoom: this.zoom,
            });

            this.init();
        },
        watch: {
            /*
              Watches the objects. When they are updated, clear the markers
              and re build them.
            */
            objects() {
                this.init();
            }
        },
    };
</script>